.caja {
    width: 400px; /*ancho*/
    height: 400px; /*alto*/
}

.uno {
    background-color: #fafa31;
    margin-bottom: 10px; /*margen quelleva la clase para separar y no esten juntos*/
    border: 2px solid #000000; /*BORDER, SOLID= es el color del borde. el primer valor es el tamaño del borde
    el segundo el tipo de borde y el tercero se refiere al color*/
    /*tambien se puede poner de forma separada:*/
    border-color: color;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}

.dos {
    background-color: #22b822;
    border-radius: 50%;
}